body {
	background:#37383a url(http://www.sspbrno.cz/back.gif);
	margin: 0 auto;
	padding: 8px 0;
	max-width: 950px;
	font-family: 'Open Sans', sans-serif;
	font-size: 13.5px;
}
main {
	background-color: #fff;
	padding: 7px;
	text-align: center;
	display: block;
}
main a {
	color: inherit;
	text-decoration: none;
	display: block;
	overflow: hidden;
}
main h2:hover {
	color: #166140;
}
header img {
	width: 100%;
}
main ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
    flex-wrap: wrap;
}
strong {
    font-weight: normal;
    color: #eb1c26;
}
#info{
	overflow: hidden;
}
#info p {
	display: inline-block;
	margin: 0;
	padding: 10px;
}
main ul li {
	margin-top: 10px;
	border: solid 1px #c9c9c9;
	transition: box-shadow .3s ease, background-color .3s ease;
	background-color: #eaeff3;
	padding: 7px;
}
main ul li:hover {
	background-color: #dedede;
	box-shadow: #c9c9c9 0 0 15px;
 }
main ul li p {
	margin: 0;
	padding-left: 5px;
}
.description {
	overflow: hidden;
}
.description h2 {
	margin: 0 7px;
	font-size: 16px;
	color: #18ad6b;
	text-decoration: underline;
}
.icon {
	width: 75px;
	float: left;
}
footer a {
	margin: 20px 0;
}
.button {
	font: inherit;
	display: inline-block;
	background-color: #18ad6b;
	color: #FFF;
	transition: background-color .3s ease;
	border: none;
	padding: 10px;
}
.button:hover {
	background-color: #166140;
}
#visibility{ float: right; }

@media (min-width: 964px) {
	main ul li {
		width: 49.5%;
		box-sizing: border-box;
	}
	main ul li:nth-child(odd) {
		margin-right: 1%;
	}
}